@media (max-width: 600px) {
    .contenedor {
        padding: 10px;
    }
    
    li {
        flex-direction: column; 
        align-items: stretch; 
    }
    
    .libro-info {
        justify-content: center; 
    }
    
    .ediciones-container {
        justify-content: center;
        gap: 20px; 
        padding: 20px 15px; 
    }
}